# Tutor mode files
docs/TUTOR.md
docs/TUTOR2.md

#f1_cache
f1_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
tempCodeRunnerFile.py

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
